@font-face {
  font-family: San Francisco;
  font-weight: 100;
  src: url("../font/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}
@font-face {
  font-family: San Francisco;
  font-weight: 200;
  src: url("../font/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}
@font-face {
  font-family: San Francisco;
  font-weight: 400;
  src: url("../font/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
  font-family: San Francisco;
  font-weight: 500;
  src: url("../font/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}
@font-face {
  font-family: San Francisco;
  font-weight: 600;
  src: url("../font/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}
@font-face {
  font-family: San Francisco;
  font-weight: 700;
  src: url("../font/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
@font-face {
  font-family: Arvo;
  font-weight: 400;
  src: url("../font/arvo/Arvo-Regular.ttf");
}
@font-face {
  font-family: Arvo;
  font-weight: 700;
  src: url("../font/arvo/Arvo-Bold.ttf");
}
@font-face {
  font-family: Nixie One;
  font-weight: 400;
  src: url("../font/nixieone/NixieOne-Regular.otf");
}
@font-face {
  font-family: Bitstream Vera;
  font-weight: 400;
  src: url("../font/bitstream/VeraSerif.ttf");
}
@font-face {
  font-family: Bitstream Vera;
  font-weight: 700;
  src: url("../font/bitstream/VeraSerif-Bold.ttf");
}
:root {
  color-scheme: light dark;
  --bg-color: #000;
  --text-color: #fff;
  --faint-bg-color: rgba(255,255,255,0.2);
}
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --text-color: #000;
    --faint-bg-color: rgba(0,0,0,0.2);
  }
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: San Francisco;
  font-size: 1em;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--text-color);
}
a {
  color: inherit;
  text-decoration: None;
  transition: opacity 450ms;
}
a:hover {
  opacity: 0.6;
}
a:active {
  opacity: 0.2;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  max-width: 900px;
  margin: 0 auto;
}
.container.cat-page {
  display: block;
}
.me {
  display: flex;
  flex: 1 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.me .header {
  margin: 1rem 2rem;
}
.me h1 {
  margin-bottom: 0.5rem;
}
.me .sites {
  display: flex;
  justify-content: space-evenly;
}
.me .sites .site {
  flex: 0 auto;
  font-size: 0.9rem;
  font-weight: 200;
  text-align: center;
  margin-bottom: 0.2rem;
}
.me .sites .site em {
  font-style: normal;
  font-size: 0.5rem;
}
.me img.evan {
  height: 6rem;
  border-radius: 50%;
}
.me .info {
  margin: 1rem 0;
}
.me ul li {
  line-height: 1.35;
}
.me ul.past {
  opacity: 0.5;
}
.portfolio {
  max-width: 100%;
}
.cat-title {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  transition: opacity 450ms;
}
.cat-title.active {
  opacity: 0.4;
}
.cat-title.cat-page {
  text-align: center;
  vertical-align: text-top;
}
.cat {
  padding: 0.8rem 1.5rem 1.5rem 1.5rem;
}
.cat.courses .photo-box {
  flex-flow: row wrap;
}
.cat.courses .cat-img {
  position: relative;
  flex: 0 0 auto;
  text-align: center;
  border-radius: 3px;
  font-weight: 200;
  font-size: 1.4rem;
  padding: 0.75rem;
  margin: 0.5rem 1rem;
  height: auto;
  color: var(--text-color);
  background-color: var(--faint-bg-color);
}
.cat.courses .whiteout {
  margin: -0.75rem;
}
.photo-box::-webkit-scrollbar {
  display: none;
}
.photo-box {
  margin-bottom: 0.3rem;
  display: flex;
  align-items: stretch;
  overflow-y: hidden;
  overflow-x: scroll;
  border-radius: 3px;
}
.photo-box.full-page {
  flex-flow: row wrap;
  justify-content: center;
  margin: 1.5rem auto;
}
.photo-box.full-page .cat-img {
  padding: 0 1rem;
  margin-bottom: 2rem;
}
.photo-box.full-page .cat-img img.color,
.photo-box.full-page .cat-img img.open {
  left: 1rem;
}
.content-container {
  display: flex;
}
.right-pad {
  width: 100rem;
  flex: 1 0 auto;
}
.cat-img {
  transition: opacity 450ms;
  flex: 0 1 auto;
  cursor: pointer;
  position: relative;
}
.cat-img.fade {
  opacity: 0.7;
}
.cat-img:not(:last-child) {
  padding-right: 2rem;
}
.cat-img img {
  border-radius: 3px;
  height: 10rem;
  transition: opacity 450ms, height 450ms;
}
.cat-img img.color,
.cat-img img.open {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.cat-img img.color.active,
.cat-img img.open.active {
  opacity: 1 !important;
}
.cat-img:hover img.color {
  opacity: 0.7;
}
.large {
  height: 15rem !important;
}
.whiteout {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 450ms;
  background-color: var(--bg-color);
}
.whiteout.opaque {
  opacity: 0.3;
}
a.back-button {
  position: absolute;
  top: 1.7rem;
  left: 1.5rem;
  width: 2rem;
  height: 1.6rem;
  border: 2px solid var(--text-color);
  border-radius: 3px;
  z-index: 1;
  box-sizing: border-box;
  transition: border-color 450ms;
}
a.back-button:hover {
  border-color: rgba(0,0,0,0.4);
}
.cat-details {
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 1rem;
  max-width: 600px;
  margin: 0 auto;
  transition: padding 450ms, opacity 450ms;
}
.cat-details h2 {
  transition: padding 450ms;
}
.cat-details .subtitle {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
}
.cat-details .date {
  font-size: 0.85rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem;
  opacity: 0.6;
  font-weight: 200;
  font-style: italic;
}
.cat-details p {
  padding: 0 1rem;
  padding-top: -8px;
  transition: padding-top 450ms;
  padding: 0;
}
.cat-details.active {
  opacity: 1;
  padding-bottom: 16px;
}
.cat-details.active p {
  padding-top: 8px;
}
.cat-details.active h2 {
  padding-top: 8px;
}
