// Regular
@font-face
  font-family Bitstream Vera
  font-weight 400
  src url("../font/bitstream/VeraSerif.ttf")

// Bold 
@font-face
  font-family Bitstream Vera
  font-weight 700
  src url("../font/bitstream/VeraSerif-Bold.ttf")