@import "sanfrancisco"

bg-color = white
text-color = black

*
    padding 0
    margin 0

body
    background-color bg-color
    font-family San Francisco
    font-size 1em
    color text-color
    margin 0 auto
    
li
    list-style-type none
    
h1, h2, h3, h4, h5, h6
    font-weight 300

//page
.container
    display flex
    flex-flow row wrap
    justify-content center
    
    align-items center
    padding 1.5rem

    max-width 900px
    margin 0 auto

.me
    display flex
    flex 1 100%
    flex-flow row wrap
    
    justify-content space-around
    
    h1
        margin 1rem

    .email
        font-size .9rem
        font-weight 200
        text-align center

        em
            font-style normal
            font-size .5rem
    
    .info
        margin 1rem

    ul.past
        opacity .5

.portfolio
    max-width 100%

.cat-title
    font-size 1.6rem
    font-weight 200

.cat
    padding .5rem 1.5rem

.photo-box
    margin .3rem 0
    display flex
    
    overflow-y hidden
    overflow-x scroll
    
    border-radius 3px

.cat.courses
    .cat-img
        flex 0 1 auto
        text-align center
        
        border-radius 3px
        font-weight 200
        font-size 1.4rem

        padding .75rem

        color white
        background-color #000
        
        height auto

.cat-img
    flex 0
    position relative

    margin-right 2rem

    height 10rem
    
    &:hover
        img.color
            display block
     
    img
        height 100%
        border-radius 3px

        &.color
            position absolute
            top 0
            left 0
            display none

.cat-details
    display none
