@import "sanfrancisco"
@import "arvo"
@import "nixieone"
@import "bitstream"

focus-time = 450ms
faint-bg-alpha = 0.2

:root
  color-scheme light dark

  --bg-color black
  --text-color white
  --faint-bg-color alpha(white, faint-bg-alpha)

  @media (prefers-color-scheme light)
    --bg-color white
    --text-color black
    --faint-bg-color alpha(black, faint-bg-alpha)

*
  padding 0
  margin 0

body
  font-family San Francisco
  font-size 1em
  margin 0 auto

  background-color var(--bg-color)
  color var(--text-color)

a
  color inherit
  text-decoration None
  transition opacity focus-time

  &:hover
    opacity 0.6
  
  &:active
    opacity 0.2

li
  list-style-type none
  
h1, h2, h3, h4, h5, h6
  font-weight 300
  
//page
.container
  display flex
  flex-flow row wrap
  justify-content center
  align-items center
  
  padding 1.5rem

  max-width 900px
  margin 0 auto

.container.cat-page
  display block

.me
  display flex
  flex 1 100%
  flex-flow row wrap
  
  justify-content center
  align-items center

  padding-bottom 1rem

  .header
    margin 1rem 2rem
  
  h1
    margin-bottom .5rem

  .sites
    display flex
    justify-content space-evenly
    .site
      flex 0 auto
      font-size .9rem
      font-weight 200
      text-align center

      em
        font-style normal
        font-size .5rem

      margin-bottom 0.2rem

  img.evan
    height 6rem
    border-radius 50%
  
  .info
    margin 1rem 0

  ul li
    line-height 1.35

  ul.past
    opacity .5

.portfolio
  max-width 100%

.cat-title
  color var(--text-color)
  text-decoration none
  font-size 1.6rem
  font-weight 400

  transition opacity focus-time

  &.active
    opacity .4

  &.cat-page
    text-align center
    vertical-align text-top

.cat
  padding .8rem 1.5rem 1.5rem 1.5rem

.photo-box
  margin-bottom .3rem
  display flex
  
  overflow-y hidden
  overflow-x scroll
  
  border-radius 3px

  &.full-page
    flex-flow row wrap
    justify-content center
    
    margin 1.5rem auto
    
    & .cat-img
      padding 0 1rem
      margin-bottom 2rem

.content-container
  display flex

.cat.courses
  .photo-box
    flex-flow row wrap
  .cat-img
    position relative
    
    flex 0 0 auto
    text-align center
    
    font-weight 200
    font-size 1.4rem

    padding .75rem
    margin .5rem 1rem

    height auto

    color var(--text-color)
    background-color var(--faint-bg-color)

  .whiteout
    margin -.75rem

.cat-img
  &.fade
    opacity 0.7

  transition opacity focus-time
    
  border-radius 3px
  flex 0 1 auto
   
  &:not(:last-child)
    padding-right 2rem

.img-container
  overflow hidden
  border-radius 3px
  height 10rem
  
  position relative

  img
    height 100%

    transition opacity focus-time
    &.color
      border-radius 3px
      position absolute
      top 0
      left 0
      opacity 0

      &.active
        opacity 1 !important
        
  &:hover
    img.color
      opacity 0.7

.whiteout
  position absolute
  width 100%
  height 100%
  opacity 0

  transition opacity focus-time

  background-color var(--bg-color)

  &.opaque
    opacity 0.3

back-height = 1.6rem
top-off = 1.5rem + 1rem - back-height/2

a.back-button
  position absolute
  top top-off
  left 1.5rem
  
  width 2rem
  height back-height
  
  border 2px solid var(--text-color)
  border-radius 3px
  z-index 1
  
  box-sizing border-box

  transition border-color focus-time

  &:hover
    border-color rgba(0,0,0,.4)
    
.cat-details
  display none
  height 0
  opacity 0
  overflow hidden

  padding 0 1rem

  max-width 600px
  margin 0 auto

  transition padding focus-time,
    opacity focus-time
  
  h2
    transition padding focus-time

  .subtitle
    text-transform uppercase
    font-size .75rem
    font-weight 600

  .date
    font-size .85rem
    text-transform uppercase
    text-align center
    padding .5rem
    opacity 0.6
    font-weight 200
    font-style italic
  
  p
    padding 0 1rem
    padding-top -8px
    transition padding-top focus-time
    padding 0

  &.active
    opacity 1
    padding-bottom 16px
    
    p
      padding-top 8px

    h2
      padding-top 8px
