@import "sanfrancisco"

bg-color = white
text-color = black

*
    padding 0
    margin 0

body
    background-color bg-color
    font-family San Francisco
    font-size 1em
    color text-color
    margin 0 auto
    
li
    list-style-type none
    
h1, h2, h3, h4, h5, h6
    font-weight 300

//page
.container
    display flex
    flex-flow row wrap
    justify-content center
    
    align-items center
    padding 1.5rem

    max-width 800px
    margin 0 auto

.me
    display flex
    flex 1 100%
    flex-flow row wrap
    
    justify-content space-around
    
    h1
        margin 1rem
    
    ul
        margin 1rem

.portfolio
    flex 1 100%
    flex-flow column nowrap

.cat-title
    padding-top 1rem
    
    font-size 2rem
    font-weight 200

.photo-box
    display flex
    flex-flow row wrap

    padding 1.5rem .3rem
    overflow scroll

    max-width 100%
    
    background-color #f3f3f3
    border-top 1px solid #ddd
    border-left 1px solid #ddd

.cat-img
    flex 0
    position relative

    margin 0 1.2rem

    height 10rem
    
    border-top 1px solid #ccc
    border-left 1px solid #ccc
    &:hover
        img.color
            display block
            
    img
        height 100%

        &.color
            position absolute
            top 0
            left 0
            display none
