extends layout.pug

block content
    .container.cat-page
        a(href=dirRoot+'/index.html').back-button
        .cat-title.cat-page #{cat.title}

        +carousel(name, cat.entries, 'full-page', dirRoot)