doctype html

html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title= "Evan Dorsky"

        link(href="stylesheets/style.css", rel="stylesheet")

    body
        h1 Evan Dorsky

        h4 About me
        ul
            li Olin College Electrical and Computer Engineering '16
            li Hardware System Integration Engineer at Apple (July '16)
            li San Francisco

        h4 Cool stuff
        ul
            li Origami
            li Outdoor stuff
            li Music
            li Fire arts
            li Dope projects
            li Work stuff maybe