doctype html

html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= 'Evan Dorsky'

        link(href='stylesheets/style.css', rel='stylesheet')
        script(src='node_modules/zepto/dist/zepto.js')

        script(type='text/javascript').
            var categories = !{JSON.stringify(categories)}

        script(src='js/main.js')

    body
        .container
            .top
                h1 Evan Dorsky
                img.me(src='img/evan.jpg')
                ul
                    li Olin College Electrical and Computer Engineering '16
                    li Hardware System Integration Engineer at Apple
                    li San Francisco

            .bottom
                .categories
                    each cat, key in categories
                        .cat(cat=key) #{key}
                .photo-box