@font-face {
  font-family: San Francisco;
  font-weight: 100;
  src: url("../font/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}
@font-face {
  font-family: San Francisco;
  font-weight: 200;
  src: url("../font/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}
@font-face {
  font-family: San Francisco;
  font-weight: 400;
  src: url("../font/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
  font-family: San Francisco;
  font-weight: 500;
  src: url("../font/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}
@font-face {
  font-family: San Francisco;
  font-weight: 600;
  src: url("../font/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}
@font-face {
  font-family: San Francisco;
  font-weight: 700;
  src: url("../font/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #fff;
  font-family: San Francisco;
  font-size: 1em;
  color: #000;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  max-width: 800px;
  margin: 0 auto;
}
.me {
  display: flex;
  flex: 1 100%;
  flex-flow: row wrap;
  justify-content: space-around;
}
.me h1 {
  margin: 1rem;
}
.me ul {
  margin: 1rem;
}
.portfolio {
  flex: 1 100%;
  flex-flow: column nowrap;
}
.cat-title {
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 200;
}
.photo-box {
  display: flex;
  flex-flow: row wrap;
  padding: 1.5rem 0.3rem;
  overflow: scroll;
  max-width: 100%;
  background-color: #f3f3f3;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.cat-img {
  flex: 0;
  position: relative;
  margin: 0 1.2rem;
  height: 10rem;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.cat-img:hover img.color {
  display: block;
}
.cat-img img {
  height: 100%;
}
.cat-img img.color {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
