@font-face {
  font-family: San Francisco;
  font-weight: 100;
  src: url("../font/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}
@font-face {
  font-family: San Francisco;
  font-weight: 200;
  src: url("../font/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}
@font-face {
  font-family: San Francisco;
  font-weight: 400;
  src: url("../font/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
  font-family: San Francisco;
  font-weight: 500;
  src: url("../font/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}
@font-face {
  font-family: San Francisco;
  font-weight: 600;
  src: url("../font/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}
@font-face {
  font-family: San Francisco;
  font-weight: 700;
  src: url("../font/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #fff;
  font-family: San Francisco;
  font-size: 1em;
  color: #000;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  max-width: 900px;
  margin: 0 auto;
}
.me {
  display: flex;
  flex: 1 100%;
  flex-flow: row wrap;
  justify-content: space-around;
}
.me h1 {
  margin: 1rem;
}
.me .info {
  margin: 1rem;
}
.me ul.past {
  opacity: 0.5;
}
.portfolio {
  max-width: 100%;
}
.cat {
  margin: 0 1.5rem;
}
.cat-title {
  font-size: 1.6rem;
  font-weight: 200;
}
.cat {
  padding: 0.5rem 1.5rem;
}
.photo-box {
  margin: 0.3rem 0;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  border-radius: 3px;
}
.cat.courses .cat-img {
  flex: 0 1 auto;
  text-align: center;
  border-radius: 3px;
  font-weight: 200;
  font-size: 1.4rem;
  padding: 0.75rem;
  color: #fff;
  background-color: #000;
  height: auto;
}
.cat-img {
  flex: 0;
  position: relative;
  margin-right: 2rem;
  height: 10rem;
}
.cat-img:hover img.color {
  display: block;
}
.cat-img img {
  height: 100%;
  border-radius: 3px;
}
.cat-img img.color {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
